body {
    font-size: 13ptx;
    line-height: 1.1;
    font-family: 'Noto Sans', Arial, sans-serif;
}

.tab-pane {
    min-height: 500px;
}

#loader {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#loader img {
    position: inherit;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background: #fff;
}

#loader:not(.show) {
    display: none;
}

#pageContent {
    background: inherit;
    display: inline-block;
}

#page-head {
    color: #FFF;
    background: linear-gradient(to right, #606060 50%, transparent 100%);
    padding: 5px 0 5px 10px;
    margin: 3px auto;
    font-weight: bold;
}

#page-head h1 {
    font-size: 14pt;
    margin: 0;
}

header {
    margin: 0;
}

header img {
    height: 90px;
    width: 550px;
}

nav.navbar.navbar-default {
    padding: 5px 0;
}

ul.nav li a {
    font-weight: bold;
}

.tab-content {
    width: 100%;
    -webkit-overflow-scrolling: touch;
    background: white;
    border-width: 0;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 0 0 4px 4px;
}

section {
    line-height: 1.5;
}

.section-title {
    margin: 0 auto;
    padding: 5px 10px;
    background: #123E57;
    color: white;
    font-size: 12pt;
}

.section-content {
    padding: 10px;
    font-size: 1.1em;
}

.subcontent {
    min-height: 300px;
}

.main-panel,
.side-panel {
    min-height: 500px;
}

input.error:before,
select.error:before {
    content: "*";
    color: red;
    font-weight: bold;
    vertical-align: middle;
    font-size: 1.3em;
    float: left;
    padding: 0 10px;
}

input.error,
select.error {
    border: 2px solid #fc7878;
    background: rgba(255, 0, 0, 0.25);
}

.footer {
    margin: 15px auto;
    line-height: 1.5;
    font-weight: bold;
}

@media (max-width: 980px) {
    #page-head {
        background: #606060;
    }
    header img {
        max-width: 360px;
    }
    .main-panel,
    .side-panel {
        min-height: auto;
    }
}

@media (max-width: 768px) {
}